<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-6">
    	<%= form_tag "/fetch_breed", class: "inline-form", id: "breed_form", remote: true do %>
        <label for="breed">Breed:</label>
        <input type="text" id="bname" name="breed" class="form-control" value="affenpinscher">
        <button type="submit" class="btn btn-success">Submit</button>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="show_breed"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
	setTimeout(() => {
	  $("#breed_form").submit();
	}, "1000");
</script>